page-user-summary {

    .btnBack {
        max-height: 5%;
        max-width: 7%;
        margin: 18px 0;
        margin-left: 100px;
        margin-top: 20px;
        font-size: 18px;
      }

      .title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 23px;
        letter-spacing: 2px;
        margin-top: 15px;
        margin-left: 20px;
        }

        .search{
            border-block-end-color: #E8775D;
          }
          
          ion-list {
          
          .h3 {
            font-weight: bold;
          }
          
          .p2 {
            color: #E8775D
          }
          }

}
