page-profile {

    .btnBack {
      max-height: 5%;
      max-width: 7%;
      margin: 18px 0;
      margin-left: 100px;
      margin-top: 20px;
      font-size: 18px;
    }
  
    .btnLogout {
      max-height: 60%;
      max-width: 9%;
      margin: 18px 0;
      margin-top: 120px;
      font-size: 15px;
    }
  
    .usrName {
      color: black;
      margin: 18px 0;
      margin-left: -15px;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 20px;
    }
  
    .Clt {
      color: black;
      text-transform: inherit;
      text-align: center;
      margin-bottom: 160px;
      font-weight: bold;
      font-size: 20px;
    }
  
    .btnEdit {
      color: #E8775D;
      margin-left: -20px;
      margin-bottom: 60px;
      text-transform: capitalize;
      font-size: 15px;
    }
  }
  
  