page-admin-menu {

    .btnClose {
      margin-left: 3px;
      margin-right: 5px;
      margin-top: 25px;
      font-size: 25px;
    }
  
    .menu{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 23px;
      letter-spacing: 2px;
      margin-top: 30px;
      margin-left: 5px;
    }
  
    .lists{
      color:#696969;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      font-size: 15px;
      margin-left: 5px;
      margin-top: 10px;
    }
  
    .lists:hover {
      background-color: #E8775D;
    }
  }
  
  
  